<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.co.workingedge.phonegap.plugins.example.requestlocationaccuracy" version="2.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SocialShareGreenie</name>
    <description>
        An example app that demonstrates use of cordova-plugin-request-location-accuracy
    </description>
    <author email="dave@workingedge.co.uk" href="http://www.workingedge.co.uk/dave">
        Codegreenie
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="false" />
    <platform name="android" />
   
    <platform name="ios" />
    <plugin name="cordova-plugin-whitelist" spec="*" />
    <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <engine name="android" spec="latest" />
    <engine name="ios" spec="latest" />
</widget>
